<!doctype html>
<html>
<head>
	<title>Thinker</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body  { padding-top:80px; word-wrap:break-word; }
    </style>
</head>
<body>

	<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Profile Page</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="row">

        <!-- LOCAL INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
			
            <h1> Number of Study Buddy users : <%= JSON.stringify(count, null, 4) %> </h1>
            <p> Study Buddy Matching Users are : <p>
	           <% for (var key in match) {
   		           var obj = match[key];
	           %>
	        <p> <%= obj.first_name %> good at:  <%= obj.good_subject %> and bad at: <%=obj.bad_subject%><p>
	           
                <% } %>
        
	        <h1> Number of tutors : <%= JSON.stringify(tut_count) %> </h1>
            
            <p> TUTORS :  </p>
            
				 <% for (var key in tutors) {
        			var obj = tutors[key];
    			%>
            <p> <%= obj.first_name %> good at:  <%= obj.good_subject %> and bad
at: <%=obj.bad_subject%><p>
    	
        	<% } %>
			

			<h1> Number of pupils : <%= JSON.stringify(pup_count) %> </h1>
            
            <p> PUPILS :  </p>
			
             <% for (var key in pupils) {
        		var obj = pupils[key];
   			 %>
    		<p> <%= obj.first_name %> good at:  <%= obj.good_subject %> and bad
at: <%=obj.bad_subject%><p>
   			 
             <% } %>
                

                <h3><span class="fa fa-user"></span> Local</h3>
                    <p>
                        <strong>First Name: </strong>: <%= user[0].first_name %><br>
                        <strong>Last Name: </strong>: <%= user[0].last_name %><br>
                        <strong>id</strong>: <%= user[0]._id %><br>
                        <strong>email</strong>: <%= user[0].local.email %><br>
                        <strong>Good subject</strong>: <%= user[0].good_subject%>
                        <strong>Bad subject</strong>:     <%= user[0].bad_subject%>
                   </p>

            </div>
        </div>

    </div>

</div>
</body>
</html>
